.products-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0B4B66;
  }
  
.products-container {
    padding: 0rem;
    margin-left: 0rem;
  }

.products-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
    max-width: 100%;
  }
  
.products-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

.product-card {
    flex: 1 1 calc(25% - 2rem);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    flex-grow: revert;
  }
  
.product-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-height: 3.2rem;
  
  }
  
  
  
.product-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #0B4B66;
  }
  
.product-description {
    font-size: 0.9rem;
    color: #555;
    margin: 0.5rem 0;
  }
  
.explore-button {
    margin-top: auto;
    border: 1px solid #d9534f;
    color: #d9534f;
    font-weight: bold;
    width: 100%;
  }
.digit-input-mirror-selector-button {
  width: 450px !important;
} 

.input-upload {
  width:300px;
  }

.digit-selector-button-border{
  height: revert;
}

.digit-selector-button-primary {
  height: revert;
}

.digit-header-wrap{
  justify-content: space-between;
}

.digit-landing-page-card {
  &.module-page-card {
    .metric-container .metric-item .metric-label {
      white-space: normal;
      text-align: justify;
    }
  }
}

.open-view-form {
  .digit-card-component {
    .digit-label-field-pair {
      margin-bottom: 0px;
      .label-field-wrapper {
        flex-direction: row !important;
        .digit-field {
          margin-bottom: 0px !important;
        }
      }
    }
    .digit-card-section-header{
        font-size: 24px !important;
    }
  }
}
.service-card-header {
  background: linear-gradient(to left, #92A0AD, #fff);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.service-card {
  width: 265px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 10px;
  height: 300px;
}

.service-icon {
  font-size: 32px;
}

.service-card-body {
  padding: 16px;
}

.service-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: #333;
}

.service-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.slider-bg-active {
  position: inherit !important;
}

.slider-container{
  position: relative !important;
}

.Workflow-card {
  padding : 0px !important;
  margin-bottom: 0px !important;
  display: flex;
}

.properties-panel{
  width: 400px;
  background: #fafafa;
}

.card-container {
  position: relative;
  height: 140px;
  width: 230px;
  &:hover .top-actions {
    opacity: 1;
    pointer-events: auto;
  }
}

.top-actions {
  position: relative;
  top: 8px;
  justify-content: right;
  right: 8px;
  display: flex;
  gap: 4px;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.node-buttons{
  background: transparent;
}

.state-card {
  width: 245px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 12px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.state-card-content {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.state-card-disabled {
  pointer-events: none;
  background-color: #f3f3f3;
}

.state-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  flex-shrink: 0;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.state-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  color: #0B4B66;
}

.state-title-disabled{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  color: #7ba9bd;
}

.state-description {
  font-size: 1rem;
  color: #0B4B66;
  margin: 4px 0;
}

.state-description-disabled {
  font-size: 1rem;
  color: #7ba9bd;
  margin: 4px 0;
}

.state-addtoclick {
  color: #3b82f6;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 4px;
}

.state-addtoclick-disabled {
  color: #7ba9bd;
  cursor: not-allowed;
  text-decoration: underline;
  margin-top: 4px;
}

.action-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background: #0B4B66;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.action-button:hover {
  background: #083949;
  transform: translateY(-50%) scale(1.1);
}

.action-button:active {
  transform: translateY(-50%) scale(0.95);
}

.state-card:hover .action-button {
  opacity: 1;
}

.left-action {
  left: -16px;
}

.right-action {
  right: -16px;
}

.canvas-container {
  width: 100%;
  height: inherit;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
}

.canvas-child {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.viewport {
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-non-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.interactive-canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.create-card {
  border: 2px dashed #ddd;
  border-radius: 8px;
}

.workflow-field-pair{
  .digit-header-content.label .label-container .label-styles{
    overflow: visible;
  }
}

.quickstart-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 16px 0;
  color: #0B4B66;
  text-align: center;
  align-items: center;
}

.step-number {
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.step-description {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
}

